body {
  background-color: #f8fafc;
  font-family: 'Assistant', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

button:focus {
  outline: 0;
}

.card-options {
  opacity: 0;
  text-shadow: 0px 0px 6px rgba(255,255,255,1);
}

.card:hover .card-options {
  opacity: 1;
}

.card-link {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
}

.loading {
  height: 100px;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pageviews,
.source-article {
  font-size: 0.8em;
}

.source-article {
  word-wrap: break-word;
}

.fa-stat {
  font-size: 0.9em!important;
}
